<div class="personal-info">

    <div><fa-icon class="icon" [icon]="fonts.username"></fa-icon><h1>{{userInfo.username}}</h1></div>
    <div><fa-icon class="icon" [icon]="fonts.org"></fa-icon><h1>{{userInfo.organizationName}}</h1></div>
    <div><fa-icon class="icon" [icon]="fonts.address"></fa-icon><h1>{{userInfo.address}}</h1></div>
    <div><fa-icon class="icon" [icon]="fonts.phone"></fa-icon><h1>{{userInfo.phone}}</h1></div>
    <div><fa-icon class="icon" [icon]="fonts.mail"></fa-icon><h1>{{userInfo.email}}</h1></div>
</div>