.sign-up-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    /* margin-top: 50px; */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 700;
}

.su-credentials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.br {
    display: flex;
    flex-direction: column;
}



.sign-up-container div {
    margin-bottom: 10px;

}

.sign-up-container {
    display: flex;
    flex-direction: column;
}

button {
    height: 40px;
    width: 200px;
    border: none;
    color: white;
    font-weight: 700;
    outline: none;
    letter-spacing: 3px;
    background-color: #5920c5;
    transition: 1s;
    align-self: center !important;
    margin-top: 20px;

}

a {
    align-self: center !important;

}

.su-btn:hover {
    background: linear-gradient(90deg, rgba(14, 0, 255, 1) 0%, rgba(149, 52, 176, 1) 52%, rgba(255, 74, 74, 1) 85%);

}



label {
    color: #fff;
    font-weight: bold;

}

input {
    margin-top: 2px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.281);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}

span {
    font-size: 14px !important;
}

.su-fullname {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.admin-check {
    display: flex;
}

/* RESPONSIVE */


@media screen and (min-width: 280px) and (max-width: 320px) {

    input {
        width: 100%;

    }

    .sign-up-main,
    #su-main-container{
        width: 260px;
    }

    .su-fullname{
        flex-direction: column !important;

    }

}

@media screen and (max-width: 430px) {
    
    input {
        width: 100%;
    }

    .su-fullname {
        flex-direction: column;
    }

   
    
    #su-main-container, .sign-up-main{
        width:100% !important;
    }

  
}


@media screen and (min-width: 430px) and (max-width: 768px) {
    .su-fullname div input {

        width: 160px !important;

    }

    input {
        width: 350px !important;
    }

}

@media screen and (max-width: 768px) {

  
    .su-fullname {
        justify-content: space-between;
        max-width: 360px !important;
    }

    .su-fullname div {
        display: flex;
        flex-direction: column;
    }

    .sign-up-main{
        overflow: auto;
        padding-bottom: 50px;
    }




   

    .su-credentials {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        row-gap: 0px;
        column-gap: 0px;

    }

    .si-credentials div {
        display: flex;
        flex-direction: column;
    }

    #su-main-container{
        max-width: 360px;
    }


    label {
        margin-top: 10px !important;
    }

}